form.searchUserForm {
  width: 100%;
  display: flex;
  align-items: center;

  background-color: var(--bg-secondary);
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  border-radius: 15px;

  margin-block: 36px 24px;
  padding: 10px;
}

:global(html.dark) form.searchUserForm {
  box-shadow: none;
}

form.searchUserForm img {
  margin-inline: 22px 24px;
}

form.searchUserForm input {
  color: var(--txt-search);
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;

  width: 100%;
  margin-right: 20px;
  padding: 6px 0;
  border: none;
}

form.searchUserForm input::placeholder {
  color: var(--txt-search-placeholder);
}

button.searchBtn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: var(--primary);
  border-radius: 10px;

  padding: 13px 24px;
  border: none;
  cursor: pointer;
}

button.searchBtn:hover {
  background-color: var(--primary-hover);
}
