@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  transition: 0.2s ease-in-out;
}

body {
  background-color: var(--bg);
  padding: 75px 96px;
}

html {
  --primary: #0079ff;
  --primary-hover: #60abff;
  --txt-high-contrast: #2b3442;
  --txt-mid-contrast: #4b6a9b;
  --txt-low-contrast: #697c9a;
  --txt-search: #222731;
  --txt-search-placeholder: #4b6a9b;
  --bg: #f6f8ff;
  --bg-secondary: #fefefe;
  --theme-switch-btn-hover: #222731;
  --error: #f74646;
  --input-box-shadow: 0 0 0px 1000px #fefefe inset;
  --link-icon-color: invert(40%) sepia(33%) saturate(727%) hue-rotate(178deg) brightness(91%) contrast(86%);
}

html.dark {
  --primary: #0079ff;
  --primary-hover: #60abff;
  --txt-high-contrast: #fff;
  --txt-mid-contrast: #ffff;
  --txt-low-contrast: #fff;
  --txt-search: #fff;
  --txt-search-placeholder: #fff;
  --bg: #141d2f;
  --bg-secondary: #1e2a47;
  --theme-switch-btn-hover: #90a4d4;
  --error: #f74646;
  --input-box-shadow: 0 0 0px 1000px #1e2a47 inset;
  --link-icon-color: invert(100%) sepia(1%) saturate(7451%) hue-rotate(114deg) brightness(126%) contrast(113%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--txt-search);
  -webkit-box-shadow: var(--input-box-shadow);
}

@media only screen and (max-width: 670px) {
  html {
    font-size: 80%;
  }
  body {
    padding: 24px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 70%;
  }
}
